<a href="https://colab.research.google.com/github/iamrosan/Fake-News-Detection-BCT-Mini-Project-/blob/processing/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing required modules

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import numpy as np
import pandas as pd
import re
import string
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
# df1 = pd.read_csv('True.csv')
# df2 = pd.read_csv('Fake_upd.csv')

# df = pd.concat([df1, df2])
# df.to_csv('final.csv', index=False)

# import random

# random.shuffle('final.csv')

# df = pd.read_csv('final.csv', header=None)
# ds = df.sample(frac=1)
# ds.to_csv('new_final.csv')

Displaying english stopwords

In [ ]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

Data Preprocessing

In [ ]:
news_df = pd.read_csv('/content/new_final.csv')
news_df.shape

(44886, 5)

Displaying first five datasets

In [ ]:
news_df.head()

   Unnamed: 0  ... label
0     20104.0  ...     0
1     13719.0  ...     0
2     17393.0  ...     0
3     27685.0  ...     1
4     30345.0  ...     1

[5 rows x 5 columns]

No. of missing data in dataset

In [ ]:
news_df.isnull().sum()

Unnamed: 0    2
title         6
text          6
subject       4
label         8
dtype: int64

Replacing null values with empty string

In [ ]:
news_df = news_df.fillna('')
news_df.head()

  Unnamed: 0  ... label
0      20104  ...     0
1      13719  ...     0
2      17393  ...     0
3      27685  ...     1
4      30345  ...     1

[5 rows x 5 columns]

In [ ]:
news_df.isnull().sum()

Unnamed: 0    0
title         0
text          0
subject       0
label         0
dtype: int64

Renaming column heads

In [ ]:
news_df.columns=['index', 'title', 'text', 'subject', 'label']

Removing columns which are not required

In [ ]:
df = news_df.drop(['index', 'subject'], axis=1)

In [ ]:
df.head()

                                               title  ... label
0  At least 19 drown when boat capsizes in northe...  ...     0
1  North Korea may announce completion of nuclear...  ...     0
2  Indonesia considers ban on "destructive" LGBT-...  ...     0
3   Think Trump Wants To Keep Your Job At Home? T...  ...     1
4   Alabama’s Chief Justice Just Spit On The Cons...  ...     1

[5 rows x 3 columns]

In [ ]:
df['content'] = df['title'] + ' ' + df['text']

In [ ]:
df.head()

                                               title  ... label
0  At least 19 drown when boat capsizes in northe...  ...     0
1  North Korea may announce completion of nuclear...  ...     0
2  Indonesia considers ban on "destructive" LGBT-...  ...     0
3   Think Trump Wants To Keep Your Job At Home? T...  ...     1
4   Alabama’s Chief Justice Just Spit On The Cons...  ...     1

[5 rows x 3 columns]

In [ ]:
def cleanWord(text):
  text = text.lower()
  text = re.sub('\[.*?\]', '', text)
  text = re.sub("\\W", " ", text)
  text = re.sub('https?://\S+|www\.\S+', '', text)
  text = re.sub('<.*?>+', '', text)
  text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
  text = re.sub('\n', '', text)
  text = re.sub('\w*\d\w*', '', text)
  return text

In [ ]:
df['content'] = df['content'].apply(cleanWord)

In [ ]:
print(df['content'])

0        at least  drown when boat capsizes in northern...
1        north korea may announce completion of nuclear...
2        indonesia considers ban on  destructive  lgbt ...
3         think trump wants to keep your job at home  t...
4         alabama s chief justice just spit on the cons...
                               ...
44881    two children sue over trump effort to roll bac...
44882    in first remarks since retweet feud  uae diplo...
44883    france s macron expresses full support to span...
44884    lebanon s hariri says to hold off resignation ...
44885    where s the media  blm blocked streets  storme...
Name: content, Length: 44886, dtype: object

Lemmatization

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
from nltk.stem import WordNetLemmatizer

In [ ]:
word_lemma = WordNetLemmatizer()

In [ ]:
def lemmatizing(content):
    lemmatized_content = re.sub('[^a-zA-Z]',' ',content)
    lemmatized_content = lemmatized_content.split()
    lemmatized_content = [word_lemma.lemmatize(word, pos="v") for word in lemmatized_content if not word in stopwords.words('english')]
    lemmatized_content = ' '.join(lemmatized_content)
    return lemmatized_content

In [ ]:
df['content'] = df['content'].apply(lemmatizing)

In [ ]:
print(df['content'])

0        least drown boat capsize northern india police...
1        north korea may announce completion nuclear pr...
2        indonesia consider ban destructive lgbt relate...
3        think trump want keep job home think profit lo...
4        alabama chief justice spit constitution reinst...
                               ...
44881    two children sue trump effort roll back clean ...
44882    first remark since retweet feud uae diplomat s...
44883    france macron express full support spanish pm ...
44884    lebanon hariri say hold resignation pm lebanon...
44885    media blm block streets storm football field b...
Name: content, Length: 44886, dtype: object

In [ ]:
df.to_csv('processed.csv')

In [ ]:
df.head()

                                               title  ...                                            content
0  At least 19 drown when boat capsizes in northe...  ...  least drown boat capsize northern india police...
1  North Korea may announce completion of nuclear...  ...  north korea may announce completion nuclear pr...
2  Indonesia considers ban on "destructive" LGBT-...  ...  indonesia consider ban destructive lgbt relate...
3   Think Trump Wants To Keep Your Job At Home? T...  ...  think trump want keep job home think profit lo...
4   Alabama’s Chief Justice Just Spit On The Cons...  ...  alabama chief justice spit constitution reinst...

[5 rows x 4 columns]

In [17]:
df1 = pd.read_csv('/content/drive/MyDrive/finalProcessed.csv')

In [18]:
df1.isnull().sum()

label      0
content    0
dtype: int64

In [21]:
df1.head()

  label                                            content
0     0  least drown boat capsize northern india police...
1     0  north korea may announce completion nuclear pr...
2     0  indonesia consider ban destructive lgbt relate...
3     1  think trump want keep job home think profit lo...
4     1  alabama chief justice spit constitution reinst...

In [22]:
df1.isnull().sum()

label      0
content    0
dtype: int64

In [20]:
series = pd.isnull(df1["content"])
df1[series]

Empty DataFrame
Columns: [label, content]
Index: []